body {
  background-color: bisque;
}
h1 {
  text-align: center;
}
ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 10px;
  color: plum;
}

img {
  max-width: 750px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

p {
  text-align: center;
}
